<div class="tw-w-full tw-h-[100vh] tw-bg-color-item-bg tw-flex tw-items-center tw-justify-center">
    <form class="tw-max-w-sm tw-mx-auto" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
        <div class="tw-mb-5">
            <label for="email" class="tw-block tw-mb-2 tw-text-sm tw-font-medium tw-text-gray-900 tw-dark:text-white">Your email</label>
            <input type="email" id="email" class="tw-shadow-sm tw-bg-gray-50 tw-border tw-border-gray-300 tw-text-gray-900 tw-text-sm tw-rounded-lg tw-focus:ring-blue-500 tw-focus:border-blue-500 tw-block tw-w-full tw-p-2.5 tw-dark:bg-gray-700 tw-dark:border-gray-600 tw-dark:placeholder-gray-400 tw-dark:text-white tw-dark:focus:ring-blue-500 tw-dark:focus:border-blue-500 tw-dark:shadow-sm-light tw-min-w-[300px]"formControlName="email" placeholder="name@flowbite.com">
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-danger tw-text-red-600 tw-mt-1">
                <div *ngIf="email && email.errors && email.errors['required']">
                    Email không bỏ trống
                  </div>
                <div *ngIf="email && email.errors && email.errors['pattern']">
                   Vui lòng nhập đúng địa chỉ email
                  </div>
              </div>
          </div>

        <button [disabled]="email?.invalid && (email?.dirty || email?.touched)"  class="tw-text-white tw-bg-blue-700 tw-hover:bg-blue-800 tw-focus:ring-4 tw-focus:outline-none tw-focus:ring-blue-300 tw-font-medium tw-rounded-lg tw-text-sm tw-px-5 tw-py-2.5 tw-text-center tw-dark:bg-blue-600 tw-dark:hover:bg-blue-700 tw-dark:focus:ring-blue-800">Send Mail</button>
      </form>
      
</div>

<div class="card flex justify-content-center">
    <p-dialog [(visible)]="visible">
        <ng-template pTemplate="headless">
            <div class="tw-flex tw-flex-col px-8 tw-px-4 py-5 gap-4 tw-w-[300px] tw-h-[200px] tw-rounded tw-bg-color-bg tw-py-1 tw-justify-center tw-items-center">
                <input type="number" id="email" class="tw-shadow-sm tw-bg-gray-50 tw-border tw-border-gray-300 tw-text-gray-900 tw-text-sm tw-rounded-lg tw-focus:ring-blue-500 tw-focus:border-blue-500 tw-block tw-w-full tw-p-2.5 tw-dark:bg-gray-700 tw-dark:border-gray-600 tw-dark:placeholder-gray-400 tw-dark:text-white tw-dark:focus:ring-blue-500 tw-dark:focus:border-blue-500 tw-dark:shadow-sm-light" placeholder="Enter Code" [(ngModel)]="codeValue" required>  
                <div class="tw-flex tw-justify-between tw-items-center gap-2 tw-mt-6">
                    <p-button label="Confirm" (click)="handleCodeEmmail()" [text]="true" styleClass="w-full text-primary-50 border-1 border-white-alpha-30 hover:bg-white-alpha-10" class="w-full" ></p-button>
                    <p-button label="Cancel" (click)="closeDialog()" [text]="true"  styleClass="w-full text-primary-50 border-1 border-white-alpha-30 hover:bg-white-alpha-10" class="w-full"></p-button>
                </div>  
            </div>
        </ng-template>
    </p-dialog>
</div>
<p-toast></p-toast>

<p-dialog header="New Password" [(visible)]="visibleModal" [modal]="true" [style]="{ width: '50vw',height:'50%'}" [draggable]="false" [resizable]="false">
    <div class="tw-w-[80%]">
        <p-password [inputStyle]="{ width: '100%'}" [style]="{ width: '100%'}"   [(ngModel)]="passNew" placeholder="Enter PassWord">
            <ng-template pTemplate="header">
                <h6>Pick a password</h6>
            </ng-template>
            <ng-template pTemplate="footer">
                <p-divider></p-divider>
                <p class="mt-2">Suggestions</p>
                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                    <li>At least one lowercase</li>
                    <li>At least one uppercase</li>
                    <li>At least one numeric</li>
                    <li>Minimum 8 characters</li>
                </ul>
            </ng-template>
            
        </p-password>
    </div>

    <span class="p-float-label tw-mt-7 tw-block tw-w-[80%]">
        <p-password [inputStyle]="{ width: '100%'}" [style]="{ width: '100%'}" [(ngModel)]="passNewRepeat" [feedback]="false"></p-password>
        <label for="password">Password Repeat</label>
    </span>

    <p-button (click)="handleUpdatePassWord()" class="tw-mt-8 tw-block" label="Confirm"></p-button>

    
</p-dialog>


